.cards{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
   
    
}
 
.dataListing{
    overflow-y: auto;  
    border: 3px solid #45486c;
    width: 225px;
    min-height:270x;
    margin-bottom: 15px;
    height:285px;
    background-color: #45486c;
    border-radius: 25px;
    font-family:  cursive;
    overflow: hidden;
    font-weight: 600;
  
}

.dataListing:hover{
    background-color: #31334d;
}
.images{
    width: 225px;
    height:130px;
}

.playButton{
    color: black;
    align-items: center;
    bottom: 5px;
    font-weight: 600;
    margin-left: 88px;
    margin-top: 5px;
}
.artistNames{
    text-align: center;
    font-family:  cursive;
    font-weight: 600;
}
.kinds{
    text-align: center;
    font-family:  cursive;
    font-weight: 600;
}

